/* @move skeleton, base.css */

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap !important;
}

.center {
    text-align: center !important;
}

.row {
    box-sizing: border-box;
}

.columns {
    font-size: 0;
}

.column {
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.bold {
    font-weight: bold !important;
}

.fixed {
    position: fixed !important;
}

.no-padding {
    padding: 0 !important;
}

.left {
    left: 0 !important;
}

.right {
    right: 0 !important;
}

.top {
    top: 0 !important;
}

.bottom {
    bottom: 0 !important;
}

.highlighted-section {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}