/** Layer */

#layer {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: none;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#layer > .header {
    text-align: right;
}

#close-layer {
    margin: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#layer-menu {
    display: none;
}

#layer-menu > button {
    width: 100%;
    margin: 25px 0 25px 0;
    height: 5rem;
    font-size: 4rem;
    font-family: 'Alegreya SC';
    border-radius: 25px;
    line-height: 5rem;
    outline: none;
}

#layer-menu > button:hover {
    color: darkblue;

    -webkit-box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.75);
}

#layer-text {
    color: white;
    display: none;
    font-size: 2rem;
}