/** MENU & languages*/

#menu > button, .languages > button {
    font-family: 'Alegreya SC';

    background-color: rgba(255, 255, 255, .8);
    outline: none;
}

#menu > button:hover, .languages > button:hover {
    background-color: white;
    color: darkblue;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.75);
}

.buttons-from-top > button {
    border-radius: 0 0 15px 15px;
    border-top-width: 0;
    padding: 5px;
}

.buttons-from-right > button {
    border-radius: 15px 0 0 15px;
    border-right-width: 0;
    padding: 5px;
}

.buttons-bold > button {
    font-weight: bold;
}

#menu-icon > img {
    height: 75px;
    width: 75px;
}

#menu-icon > img {
    opacity: .75;
    cursor: pointer;
}

#menu-icon > img:hover {
    opacity: 1;
}

.languages.second, .languages.third {
    display: none;
}

.languages.second > button > img, .languages.third > button > img {
    display: none;
}